.d-center {
    display: flex;
    align-items: center;
}

.v-select .dropdown li {
    border-bottom: 1px solid rgba(112, 128, 144, 0.1);
}

.v-select .dropdown li:last-child {
    border-bottom: none;
}

.v-select .dropdown li a {
    padding: 10px 20px;
    width: 100%;
    font-size: 1.25em;
    color: #3c3c3c;
}

.v-select .dropdown-menu .active > a {
    color: #fff;
}

.spanPop {
    color: #9f9e9e;
}

.center {
    text-align: center;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}