<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueJS</title>
    <link href="app.css" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<div id="app" class="container">
    <h1>City Distance</h1>
    <div class="row">
        <!-- column 4 - city 1 -->
        <div class="col-md-4">
            <v-select v-model="city1" :filterable="false" :options="options" @search="onSearch">
                <template slot="no-options">
                    type to search a city
                </template>
                <template slot="option" slot-scope="option">
                    <div class="d-center">
                        {{ option.nom }}&nbsp;<i class="spanPop">{{ option.population }} habitants</i>
                    </div>
                </template>
                <template slot="selected-option" scope="option">
                    <div class="selected d-center">
                        {{ option.nom }}&nbsp;<i class="spanPop">{{ option.population }} habitants</i>
                    </div>
                </template>
            </v-select>
            <br/>
            <template v-if="city1 !== null">
                <div class="panel panel-default">
                    <div class="panel-heading"> {{city1.nom}}</div>
                    <div class="panel-body">
                        <ul>
                            <li>Population : {{city1.population}}</li>
                            <li>Département : {{city1.codeDepartement}}</li>
                            <li>Latitude : {{city1.latitude}} ° nord</li>
                            <li>Longitude : {{city1.longitude}} ° <span v-if="city1.longitude >0">est</span><span
                                    v-else>ouest</span></li>
                        </ul>
                    </div>
                </div>
            </template>
        </div>

        <!-- column 2 - distance-->
        <div class="col-md-4">
            <template v-if="city1 !== null && city2 !== null">
                <div><!--TODO add template-->
                    <h3 class="center"><u>Distance {{city1.nom}} - {{city2.nom}}</u></h3>
                    <h1 class="center">{{distance(city1, city2)}} Kms</h1>
                </div>
            </template>
        </div>

        <!-- column 4 - city 2 -->
        <div class="col-md-4">
            <v-select v-model="city2" :filterable="false" :options="options" @search="onSearch">
                <template slot="no-options">
                    type to search a city
                </template>
                <template slot="option" slot-scope="option">
                    <div class="d-center">
                        {{ option.nom }}&nbsp;<i class="spanPop">{{ option.population }} habitants</i>
                    </div>
                </template>
                <template slot="selected-option" scope="option">
                    <div class="selected d-center">
                        {{ option.nom }}&nbsp;<i class="spanPop">{{ option.population }} habitants</i>
                    </div>
                </template>
            </v-select>
            <br/>
            <div class="panel panel-default" v-if="city2">
                <div class="panel-heading"> {{city2.nom}}</div>
                <div class="panel-body">
                    <ul>
                        <li>Population : {{city2.population}}</li>
                        <li>Département : {{city2.codeDepartement}}</li>
                        <li>Latitude : {{city2.latitude}} ° nord</li>
                        <li>Longitude : {{city2.longitude}} ° <span v-if="city2.longitude >0">est</span><span v-else>ouest</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--<div>
        <img src="carte_france.jpg" class="w100">
        <svg class="w100 h100">
            <circle v-if="city1 !== null" cx="{{lat2svg(city1.latitude)}}" cy="{{lon2svg(city1.lontitude)}}" r="{{circleSize(city1.population)}}" fill="fill" color="red"/>

        </svg>
    </div>-->
</div>

<script src="https://unpkg.com/vue@latest"></script>
<script src="https://unpkg.com/vue-select@latest"></script>
<script src="https://unpkg.com/lodash@latest/lodash.min.js"></script>
<script src="vueapp.js"></script>

</body>
</html>